/* Универсальный Side Avatar */
body {
  padding-left: 220px !important;
  padding-right: 120px !important;
}

/* ПЕРВЫЙ avatar в DOM = char (слева) */
img[src*="character"], 
img[src*="avatar"]:first-of-type,
.avatar img:first-of-type,
.mes .avatar:first-child {
  position: absolute !important;
  left: 20px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  width: 180px !important;
  height: 180px !important;
  z-index: 999 !important;
  border-radius: 25px !important;
  box-shadow: 0 15px 40px rgba(100,150,255,0.4) !important;
}

/* ВТОРОЙ avatar = user (справа) */
img[src*="user"], 
img[src*="avatar"]:nth-of-type(2),
.user-avatar img {
  position: absolute !important;
  right: 20px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  width: 80px !important;
  height: 80px !important;
  z-index: 999 !important;
  border-radius: 20px !important;
}
